# Ambiente virtual
venv/

# Cache do Python
__pycache__/
*.pyc

# Banco local
db.sqlite3

# Variáveis de ambiente (se usar no futuro)
.env

# Arquivos do VS Code
.vscode/

# Arquivos do sistema
.DS_Store
Thumbs.db